

.nodisplay {
    display:none;
}

.audio-only-svg-paused {
    fill: white !important;
}

.audio-only-svg-playing {
    fill: orange !important;
}

.audio-only-svg-disabled {
    fill: gray !important;
}