

.nodisplay {
    display:none;
}

.audio-only-button-paused svg {
    fill: white !important;
}

.audio-only-button-playing svg {
    fill: orange !important;
}

.audio-only-button-disabled svg {
    fill: gray !important;
}